node_modules
.git
.turbo
dist
coverage
.DS_Store
.env
.env.local
.env.production
.venv
**/.venv
.local
**/.local
__pycache__
*.pyc
*.pyo
*.pyd
*.log
apps/**/dist
apps/**/node_modules
packages/**/node_modules
