DATABASE_URL="postgresql://niar:niar@localhost:5432/niar_plataforma?sslmode=disable"
ADMIN_API_PORT=3333
ASSISTENTE_API_PORT=8000
EXPORTS_DIR=./apps/assistente-api/.local/exports
VITE_ASSISTENTE_API_URL=http://localhost:8000
VITE_INSTITUCIONAL_REMOTE_URL=http://localhost:4176/assets/remoteEntry.js
VITE_ADMIN_REMOTE_URL=http://localhost:4174/assets/remoteEntry.js
VITE_ASSISTENTE_REMOTE_URL=http://localhost:4175/assets/remoteEntry.js
NODE_ENV=development
