DATABASE_URL="postgresql://niar:niar@localhost:5432/niar_plataforma"
ADMIN_API_PORT=3333
ASSISTENTE_API_PORT=8000
VITE_ASSISTENTE_API_URL=http://localhost:8000
VITE_ADMIN_REMOTE_URL=http://localhost:4174/assets/remoteEntry.js
VITE_ASSISTENTE_REMOTE_URL=http://localhost:4175/assets/remoteEntry.js
NODE_ENV=development
