# exemplo de .env.test para rodar os teste da api de admin.
# garante que o banco de dados de teste é isolado.
DATABASE_URL="postgresql://niar:niar@localhost:5432/niar_plataforma_test"
PORT=3334   
NODE_ENV=test
